.header-section {
    margin-bottom: 25px;

    .header-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        color: 'black';
        text-decoration: none;
    }
}
